# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================================
# VIRTUAL ENVIRONMENTS
# =========================================================

venv/
.venv/
.env/

# =========================================================
# JUPYTER
# =========================================================

.ipynb_checkpoints/

# =========================================================
# PYTEST CACHE
# =========================================================

.pytest_cache/

# =========================================================
# CACHE
# =========================================================

cache/*
!cache/.gitkeep

# =========================================================
# OUTPUT DIRECTORY
# =========================================================

output/*
!output/.gitkeep

# =========================================================
# ALLOW GENERATED OUTPUTS
# =========================================================

!output/*.csv
!output/*.xlsx

# =========================================================
# CHECKPOINT FILES
# =========================================================

output/partial_results.csv
output/partial_failed.csv

# =========================================================
# DATABASE
# =========================================================

database/*
!database/.gitkeep
!database/*.db

# =========================================================
# LOGS
# =========================================================

logs/*
!logs/.gitkeep

# =========================================================
# FAILED DIRECTORY
# =========================================================

failed/*
!failed/.gitkeep

# =========================================================
# TEMP FILES
# =========================================================

*.parquet
*.tmp
*.temp

# =========================================================
# KEEP INPUT FILE
# =========================================================

!input/yfinance_stock_urls.xlsx

# =========================================================
# STREAMLIT
# =========================================================

.streamlit/

# =========================================================
# OS FILES
# =========================================================

.DS_Store
Thumbs.db
