# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Streamlit
.streamlit/

# Logs
logs/
*.log

# Cache
cache/

# Excel temporary files
~$*.xlsx

# OS files
.DS_Store
Thumbs.db
